* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Encode Sans Expanded', sans-serif;
}
body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#FFCA00;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8D7000;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}